button{
            background-color: black; /* Corrected property name */
           color: white; /* Corrected property name */
            border-radius: 5px;
            border: none;
            
        }

        button:hover {
            background-color: yellow; /* Corrected pseudo-class syntax */
            color: black; /* Corrected property name */
            border-radius: 30px;
        }